# yaml-language-server: $schema=https://raw.githubusercontent.com/hasura/ndc-http/refs/heads/main/ndc-http-schema/jsonschema/configuration.schema.json
# The generated schema output will be generated to this file location.
# The schema is an array of API documentation files that were converted to ndc-http-schema configuration specs.
# You can find out more about that specs and advanced configurations in https://github.com/hasura/ndc-http/tree/main/ndc-http-schema#ndc-http-configuration
output: schema.output.json
strict: false
forwardHeaders:
  enabled: false
  argumentField: headers
  responseHeaders: null
runtime:
  # Enable the sendHttpRequest command.
  # https://github.com/hasura/ndc-http/blob/main/docs/schemaless_request.md
  enableRawRequest: false
  # JSON scalars will be encoded to string.
  # Enable this option if you need to make commands compatible with PromptQL
  stringifyJson:
    value: true
concurrency:
  query: 1
  mutation: 1
  http: 5
# You can find or request pre-built configuration recipes of popular API services here:
# https://github.com/hasura/ndc-http-recipes/tree/main/recipes
files:
  - file: https://raw.githubusercontent.com/hasura/ndc-http/main/connector/testdata/jsonplaceholder/swagger.json
    spec: oas2
    ## If there are many files you should set a prefix for each file item to avoid conflicting variable names.
    # envPrefix: ""
    timeout:
      value: 30
    retry:
      times:
        value: 0
      delay:
        # The initial wait time in milliseconds before a retry is attempted.
        # The connector prefers the Retry-After header in the response if exists
        value: 1000
