name: Release container definition
on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  pull-requests: write
  packages: write

env:
  DOCKER_REGISTRY: ghcr.io
  DOCKER_IMAGE_NAME: hasura/ndc-http

jobs:
  tests:
    uses: ./.github/workflows/test.yaml

  release-image:
    name: Release ndc-http image
    runs-on: ubuntu-latest
    needs: [tests]
    steps:
      - uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get version from tag
        id: get-version
        run: |
          echo "tagged_version=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
        shell: bash

      - name: Extract metadata (tags, labels) for Docker
        id: docker-metadata
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKER_REGISTRY }}/${{ env.DOCKER_IMAGE_NAME }}

      - name: Build and Push docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ steps.docker-metadata.outputs.tags }}
          labels: ${{ steps.docker-metadata.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          build-args: |
            VERSION=${{ steps.get-version.outputs.tagged_version }}

  build-cli-and-manifests:
    name: Build the CLI binaries and manifests
    runs-on: ubuntu-latest
    needs: [release-image]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod
      - name: Build the CLI
        run: |
          VERSION="$GITHUB_REF_NAME" make ci-build-cli
          mkdir release
          .github/scripts/plugin-manifest.sh
          mv _output/* release

      - name: Get version from tag
        id: get-version
        run: |
          echo "tagged_version=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
        shell: bash

      - name: Build connector definition
        run: |
          ./scripts/build-manifest.sh
        env:
          VERSION: ${{ steps.get-version.outputs.tagged_version }}

      - uses: actions/upload-artifact@v4
        with:
          path: release/*
          if-no-files-found: error

      - name: create a draft release
        uses: ncipollo/release-action@v1
        with:
          draft: true
          tag: ${{ steps.get-version.outputs.tagged_version }}
          artifacts: release/*
